<!-- Bootstrap Card -->
<div class='container mt-5'>
  <div class="card" style="width: 18rem;">
    <img src="https://photos.lensculture.com/original/baacd45c-49fa-4765-a875-601fa7b414e8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<!-- LeWagon Card -->
<div class="container mt-4">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>


  
<% end %>